* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
   height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.caixa-principal img {
    height: 200px;
}

.caixa-principal {
    width: 40%;
    margin-left: -500px;

}

button {
    background-color: #c51111;
    color: #fff;
    padding: 10px 20px;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #fff;
    color: #c51111;
    transition: all 1.1s ease-in-out;
}

.logo-mario-luigi {
   position: absolute;
    right: 10px;
    margin: 300px;
    z-index: 1;

}
.logo-mario-luigi img {
    width: 300px;
    height: 300px;
}

.caixa-video {
 position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
    
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: #fff;
    font-size: 15px;
}

.link-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: inline-block;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    cursor: pointer;


}

.header img {
    width: 60px
}

.header a {
    color: #fff;
    font-size: 15px;
}

.header a:hover {
    color: #c51111;
    font-size: 15px;
    transition: all 0.1s ease-in-out;
}

.formulario {
    background-color: #fff;
    width: 280px;
    display: flex;
    gap: 20px;
    flex-direction: column;                                   
    position: fixed;
    top: 30%;
    left:-300%;
    transform:  translate(-50%, -50%)scale(0.95);
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transition: left 4s ease-in-out;
    

}
    
input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

textarea {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transform: visibility 4s ease-in-out;
}




 /*   inicial   
 top 30%
left -300%
                                                                       
final
top 30%
left 50%
transform translateX(-50%);                
*/