* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
   height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.caixa-principal img {
    height: 200px;
}

.caixa-principal {
    width: 40%;
    margin-left: -500px;

}

button {
    background-color: #c51111;
    color: #fff;
    padding: 10px 20px;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.logo-mario-luigi {
   position: absolute;
    right: 10px;
    margin: 300px;
    z-index: 1;

}
.logo-mario-luigi img {
    width: 300px;
    height: 300px;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
    
}
video {
    width: 100vw;
}

.mascara {
    height: 100%;
    width: 100%;
   background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: #fff;
    font-size: 20px;
}

.link-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: inline-block;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}